# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

Text-recognition.suo
Text-recognition.opensdf
Text-recognition.sdf
ipch/*
Win32/*
Text-recognition/Debug/*
Text-recognition/GeneratedFiles/*
Text-recognition/Release/*

